body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(233, 225, 150, 0.705);
}
:root{
    --textParrafos: Arial, Helvetica, sans-serif;
    --colorTexto: #363636;
    --tamañoTextoParrafo: 1rem;
    --tamañoTextoTitulos: 1.2rem;
    --paddingParrafos: 0 18px;
    --interlineado: 1.2rem;
    --imagentamaño: 40%;
}

main{
    width: 96%;
    background-color: rgba(233, 213, 213, 0.658);
    margin: 0 auto;
    padding: 22px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "logo_empresa logo_empresa"
    "anuncio_nacionales anuncio_nacionales"
    "anuncio_internacionales anuncio_internacionales"
    "videos videos"
    "footer footer";
}

#menuLogoEmpresa{
    grid-area: logo_empresa;
    color: var(--colorTexto);
    font-family: var(--textParrafos);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img{
    width: 2.7rem;
    border-radius: 50%;
    }
#tituloNombreEmpresa{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    padding: 8px 10px;
    color: var(--colorTexto);
    box-shadow: 0px 5px 8px 0px rgba(255, 180, 20, 0.216);
    border-radius: 8px;
    font-size: var(--tamañoTextoTitulos);
    text-align: center;
    animation: cambiarcolor 30s linear 0.4s infinite both;
}
@keyframes cambiarcolor{
    4% {color: var(--colorTexto);}
    25%{color: rgb(24, 24, 197);}
    50%{color: rgb(146, 146, 47);}
    75%{color: rgb(119, 15, 119);}
    100%{color: rgb(204, 200, 200);}
}
#contenedorMenu{
    display: inline-block;
    position: relative;
    padding: 0 8px;
}

#subContenedorMenu{
    display: block;
    position: absolute;
    opacity: 0;
    background-color: rgba(252, 149, 14, 0.992);
    min-width: 160px;
    max-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,2,0.4);
    padding: 12px 16px;
    border-radius: 10px;
    z-index: 10;
    transform: translate(0px, -40px);
    transition: all 0.5s linear 0.3s;
}

#contenedorMenu:hover #subContenedorMenu {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
    opacity: 1;
    transform: translate(0px, -2px);
    align-items: flex-start;
    justify-content: center;
}

#subContenedorMenu a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--textParrafos);
    padding: 8px;
    text-align: center;
    color: rgb(78, 51, 1);
}
#subContenedorMenu a:hover{
    background-color: rgba(250, 205, 150, 0.411);
    border-radius: 8px;
}

#subContenedorMenuLogo img{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    border: 2px outset rgb(101, 101, 252);
    transition: border 0.5s linear;
}

#subContenedorMenuLogo img:hover{
    cursor: pointer;
    border: 2px inset rgba(220, 232, 250, 0.918);
}

/*Articulo de noticias Nacionales...*/
.parrafoOculto{
    display: none;
}
.mostrarparrafo{
    display: block;
}
.boton{
    width: 20%;
    background-color: rgb(29, 29, 28);
    font-family: var(--textParrafos);
    color: whitesmoke;
    border-radius: 16px;
    padding: 8px 8px;
    text-align: center;
    border: none;
    margin-bottom: 25px;
}
.boton:hover{
    cursor: pointer;
}
#imagentexto{
    width: var(--imagentamaño);
    max-width: 38rem;
    border-radius: 8px;
    padding: 0px;
}
#articulosAnuncios{
    grid-area: anuncio_nacionales;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: var(--paddingParrafos);
}
#miBlog{
    background-color: rgba(255, 255, 255, 0.76);
    width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    line-height: var(--interlineado);
}
#miBlog img{
    padding: var(--paddingParrafos);
    border-radius: 8px;
}
#miBlog p{
    color: var(--colorTexto);
    padding: var(--paddingParrafos);
    font-family: var(--textParrafos);
    font-size: var(--tamañoTextoParrafo);
}
#miBlog h2{
    color: var(--colorTexto);
    text-align: center;
    font-family: var(--textParrafos);
    font-size: var(--tamañoTextoTitulos);
}
#miBlog a{
    text-decoration: none;
    color: rgb(37, 37, 250);
    animation: colortexto 1s linear infinite;
}
@keyframes colortexto{
    1%{color: rgb(111, 111, 247)};
    50%{color: rgb(233, 233, 2)};
    100%{color: rgb(59, 1, 1)};
}
#miBlog a:visited{
    color: rgba(104, 68, 18, 0.801);
}
#fecha{
    width: 300px;
    height: 30px;
    padding: 2px 10px;
    background-color: rgba(240, 230, 140, 0.178);
    margin: 0;
    font-size: 0.7rem;
    font-family: var(--textParrafos);
    color: var(--colorTexto);
    line-height: var(--interlineado);
}

#tituloDos{
    text-align: center;
    line-height: var(--interlineado);
    font-family: var(--textParrafos);
    font-size: var(--tamañoTextoTitulos);
    padding-top: 20px;
}
#tituloNacionales, #tituloInternacional{
    width: 95%;
    margin: 25px auto;
    font-size: var(--tamañoTextoTitulos);
    font-family: var(--textParrafos);
    color: var(--colorTexto);
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.849), black 250%) ;
    padding: 10px 0;
    border-radius: 50px 12px 50px 12px;
}

#articulosN, #articulosI{
    background-color: rgba(255, 255, 255, 0.76);
    font-size: var(--tamañoTextoParrafo);
    font-family: var(--textParrafos);
    padding: var(--paddingParrafos);
    line-height: var(--interlineado);
    border-radius: 8px;
    margin-top: 10px;
}

h6{
    font-family: var(--textParrafos);
    color: var(--colorTexto);
    max-width: 100%;
}
h3{
    max-width: 100%;
    font-family: var(--textParrafos);
    color: var(--colorTexto);
    font-weight: bold;
    text-align: center;
}
/*Informaciones sobre la Sección de Noticias Internacionales y anuncios*/
#anuncio{
    width: 90%;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 8px;
    background: url(imagenes/fondoredes4.jpg) center no-repeat;
    padding: 0 18px;
}

#tituloDosredes{
    color: aliceblue;
    text-align: center;
    font-family: var(--textParrafos);
    font-size: var(--tamañoTextoTitulos);
}
#articuloredes{
    color: rgb(41, 40, 32);
    font-size: var(--tamañoTextoParrafo);
    font-family: var(--textParrafos);
    padding: var(--paddingParrafos);
    line-height: var(--interlineado);
    border-radius: 8px;
    margin-top: 10px;
    text-shadow: 1px 1px 4px rgb(194, 194, 218);
}
#anuncio a{
    text-decoration: none;
    font-family: var(--textParrafos);
    color: rgb(248, 246, 250);
    text-shadow: 1px 3px 1px rgb(46, 46, 196);

}
#anuncio b{
    color: rgb(190, 250, 190);
}
#noticiasInternacionales{
    width: 90%;
    margin: 0 auto;
    grid-area: anuncio_internacionales;
    max-width: 100%;
}

#lineaCentral{
    display: flex;
    width: 100%;
    border: 2px inset rgb(253, 253, 253);
    margin: 10px auto;
}
/*Utilizando herramientas de video. Agregamos videos de youtube y videos locales.*/


#videos{
    grid-area: videos;
    width: 100%;
    margin: 20px auto;
    text-align: center;
    max-width: 100%;
}
#salud{
    width: 300px;
    height: 200px;
    border: 2px outset green;
    background-color: #2e2d2d;
}
#pelota{
    width: 300px;
    height: 200px;
    border: 2px outset rgb(85, 4, 214);
    background-color: #2e2d2d;
}



/*Pie de pagina y conexión con nuestras redes sociales*/
footer{
    width: 96%;
    grid-area: footer;
    display: grid;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    margin-top: 40px;
    max-width: 100%;
}
footer h4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.6rem;
    width: 62%;
    margin: 30px auto 2px auto;
    color: rgba(137, 43, 226, 0.486);
}
#linea1{
    margin: 0 auto;
    width: 65%;
    border: 1px inset rgb(43, 43, 252);
}
#linea3{
    margin: 1px auto;
    width: 40%;
    border: 2px outset whitesmoke;
}

#linea2{
    width: 50%;
  height: 1px;
    background-image:
    repeating-linear-gradient(
      90deg,
      yellow,
      rgb(250, 250, 10) 10px,
      rgb(255, 254, 254) 10px,
      red 20px
 );
    margin: 0 auto;
    box-shadow: 0px 10px 12px greenyellow;
    animation: cambiolinea 1.5s linear infinite both;
}
@keyframes cambiolinea{
    5%{
        background-image: repeating-linear-gradient(
            90deg,
            rgb(255, 4, 4) 10px, 
            yellow,
            rgb(251, 251, 252) 20px,
            rgb(255, 4, 4) 10px
    );
}
40%{
    background-image: repeating-linear-gradient(
        20deg,
        rgb(248, 248, 244) 10px,
        rgb(0, 68, 255),
        rgb(255, 208, 0) 20px  
);
}
}

#facebook{
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rosybrown;
    width: 5%;
}
#instagram{
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rosybrown;
    width: 5%;
    margin: 0 25px;
}
#equis{
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rosybrown;
    width: 5%;
}
#linkedin{
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rosybrown;
    width: 5%;
    margin: 0 25px;
}
#youtube{
    border-radius: 50%;
    box-shadow: 0px 2px 10px 5px rosybrown;
    width: 5%;
}

/*Formato para cada opción del Menú*/

#seccionHistoria, #seccionProductos, #seccionServicios, #seccionContacto{
    padding: var(--paddingParrafos);
    color: var(--colorTexto);
    font-size: var(--tamañoTextoParrafo);
    font-family: var(--textParrafos);
    line-height: var(--interlineado);
}
#subContenedorMenu img{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#imagenesProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    margin: 0 auto;
    
}
#imagenesProductos img{
    width: 100px;
    height: 50px;
    overflow: hidden;
    max-width: 200px;
    padding: 5px;
}

#seccionHistoria h1{
    text-align: center;
}

#seccionProductos h1{
    text-align: center;
    margin-bottom: 50px;
}

#seccionServicios h1{
    text-align: center;
    margin-bottom: 50px;
}

#seccionContacto h1{
    text-align: center;
    margin-bottom: 30px;
}

#telefonoContacto{
    width: 100%;
    text-align: center;
    margin: 25px auto;
    background-image: repeating-linear-gradient(
        90deg,
        blue 10px,
        rgb(125, 125, 253) 1px,
        yellow 1px
    );
}

#telefonoContacto p{
    color: var(--colorTexto);
    font-size: var(--tamañoTextoParrafo);
    margin: 30px auto;
    width: 50%;
    border-radius: 10px;
    padding: 8px 0;
    background-image: repeating-linear-gradient(
        0deg,
        rgb(192, 192, 247) 7px,
      
        rgb(255, 255, 196) 10px
    );
}


/* Este es el CSS para el formulario*/

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}
.form-container input, .form-container textarea {
    width: 96%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.form-container textarea{
    resize: none;
}
.form-container button {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.form-container button:hover {
    background-color: #45a049;
}
.form-container .btn-clear {
    background-color: #f44336;
}
.form-container .btn-clear:hover {
    background-color: #e53935;
}
.form-container .error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

/* Opciones de adaptación según tamaño de dispositivo o pantalla.*/

@media (min-width: 769px)  and (max-width: 1024px){
    main{
        width: 88%;
       
    }


}

/*Adaptacion para equipos con pantallas grandes...*/

@media (min-width: 1025px){
    body{
        background-image: repeating-linear-gradient(
            45deg,
            rgba(233, 225, 150, 0.705),
            white 1px
        );
    }
    main{
        width: 85%;
    }
    #articulosAnuncios, #noticiasInternacionales, #videos, footer{
        margin: 0 auto;
        width: 80%;
        padding: 0 28px;
    }
    #menuLogoEmpresa{
        justify-content: space-between;
        margin-top: 0px;
        padding: 0;
    }

    #tituloNombreEmpresa{
        display: flex;
        align-items: center;
        justify-content:center;
        width: 90%;
        padding: 0;
        box-shadow: 0px 5px 0px 0px rgba(255, 180, 20, 0.216);
        max-width: 100%;
    }
    #logo{
        
        margin-left: 40px;
        padding: 0;
        margin-right: 35px;
    }
    #logo img{
        width: 4rem;
    }
  
    #subContenedorMenuLogo{
        margin-left: 50px;
        cursor: pointer;
    }
    #subContenedorMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        background-color: rgba(238, 186, 119, 0.603);
        padding: 12px 20px;
        transform: translate(50px, -45px);
        transition: all 0.6s linear 0.3s;
    }
   
    #contenedorMenu:hover #subContenedorMenu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transform: translate(50px, -10px);
        width: 600px;
        background-color: rgb(252, 149, 14);
    }
    #contenedorMenu{
        margin-left: 50px;
    }
    #subContenedorMenu a{
        color: var(--colorTexto);
        padding: 8px 16px;
        transform: translate(0px, 0);
        margin: 0;
    }
    #subContenedorMenu a:hover{
        background-color: var(--colorTexto);
        color: whitesmoke;
    }
    #imagentexto{
        float: left;
        margin: 0 20px 20px 0;
    }
    #articulosI{
        margin: 25px auto;
        overflow: hidden;
    }
   #videos{
    width: 95%;
    margin-bottom: 60px;
   }
    #videos iframe{
        width: 40%;
        height: 250px;
        margin: 20px 0;
    }
    #pelota, #salud{
        width: 40%;
        height: 250px;
    }

    #seccionHistoria, #seccionProductos, #seccionServicios, #seccionContacto{
        width: 85%;
        margin: 0 auto;
    }

}